<!-- Simple splash screen-->
<div class="splash">
    <div class="color-line"></div>
    <div class="splash-title">
        <h1>Learning Landscapes</h1>
        <p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">CONTRIBUTE</a>
            <div class="brand-desc">
                Learning Landscape 1.0
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" page-scroll href="#components">Landscape</a></li>
                <li><a class="page-scroll" page-scroll href="#features2">Clusters</a></li>
                <li><a class="page-scroll" page-scroll href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="page-top">
    <div class="container">
        <div class="heading">
            <h1>
                Mapping the future of education
            </h1>
            <span>Welcome to the Learning Landscape Project.</span>
            <p class="small">
                Lorem Ipsum is simply dummy text of the printing and tLorem Ipsum is Lorem Ipsum is simply dummy of the simply dummy text of the ypesetting. Lorem Ipsum is simply dummy text of the printing and tLorem Ipsum is Lorem Ipsum is simply dummy of the simply
                dummy text of the ypesetting.
            </p>
            <a href="#" class="btn btn-success btn-sm">Learn more</a>
        </div>
        <div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
            <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <img class="img-animate" src="images/landing/c1.jpg">
            <img class="img-animate" src="images/landing/c2.jpg">
            <img class="img-animate" src="images/landing/c3.jpg">
            <img class="img-animate" src="images/landing/c4.jpg">
            <br/>
            <img class="img-animate" src="images/landing/c5.jpg">
            <img class="img-animate" src="images/landing/c6.jpg">
            <img class="img-animate" src="images/landing/c7.jpg">
            <img class="img-animate" src="images/landing/c8.jpg">
        </div>
    </div>
</header>
<section>
    <div class="container">

        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-success">Community driven, future focused </span>map of education startups and innovation</h2>
                <p>Lorem Ipsum available, but the majority have suffered alteration euismod. </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-airplay text-success icon-big"></i></h4>
                <strong>It should be open source</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-science text-success icon-big"></i></h4>
                <strong>Everyone should be able to contribute</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-display1 text-success icon-big"></i></h4>
                <strong>It should be actively developed</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                <strong>If should be free even for commercial use</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-display1 text-success icon-big"></i></h4>
                <strong>It should be community driven</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                <strong>It should unite industry, not fragment</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-global text-success icon-big"></i></h4>
                <strong>It should be truly global in perspective</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-battery text-success icon-big"></i></h4>
                <strong>It should student centric and true to learning and teaching</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-users text-success icon-big"></i></h4>
                <strong>It should be stylish, beautiful and well designed</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-ticket text-success icon-big"></i></h4>
                <strong>It should be robust and powerful</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-users text-success icon-big"></i></h4>
                <strong>Development process should be transparent</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-2">
                <h4 class="m-t-lg"><i class="pe-7s-ticket text-success icon-big"></i></h4>
                <strong>It should be supported and maintained</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
        </div>



    </div>
</section>

<section id="components" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Learning <span class="text-success">Landscape 1.0 </span></h2>
                <p>Lorem Ipsum available, but the majority have suffered alteration euismod. </p>
                <h2>&nbsp;</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body float-e-margins">
                        <div class="wrapper">
                            <div class="row color-demo">
                                <div class="header-line h-bg-navy-blue">
                                    <div>Publishers<span>B2C. Pivot</span></div>
                                </div>
                                <div class="header-line h-bg-violet">
                                    <div>Corporate Tech<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-blue">
                                    <div>Student Loans<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-green">
                                    <div>Digital Immersion<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-yellow">
                                    <div>Campus Based Accredited<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-orange">
                                    <div>Online - Syndicate<span>B2B2C</span></div>
                                </div>
                                <div class="header-line h-bg-red">
                                    <div>Testing & Assessment<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-red-deep">
                                    <div>Placement<span>B2C</span></div>
                                </div>


                                <div class="header-line h-bg-navy-blue">
                                    <div>Knowledge Platforms<span>B2C. Deepen</span></div>
                                </div>
                                <div class="header-line h-bg-violet">
                                    <div>Learning Management Systems<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-blue">
                                    <div>Recruitment & Admissions<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-green">
                                    <div>Learning Design<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-yellow">
                                    <div>Campus Based Unaccredited<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-orange">
                                    <div>Online - Open<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-red">
                                    <div>Tutor Platforms<span>P2P</span></div>
                                </div>
                                <div class="header-line h-bg-red-deep">
                                    <div>Hiring Platforms<span>B2C</span></div>
                                </div>

                                <div class="header-line h-bg-navy-blue">
                                    <div>Social Knowledge Curation<span>P2P. Declutter</span></div>
                                </div>
                                <div class="header-line h-bg-violet">
                                    <div>Personalised / Adaptive Systems<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-blue">
                                    <div>Pathways<span>B2B2C</span></div>
                                </div>
                                <div class="header-line h-bg-green">
                                    <div>Teacher PD<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-yellow">
                                    <div>Bootcamps<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-orange">
                                    <div>Online - Proprietary<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-red">
                                    <div>Supplemental Learning<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-red-deep">
                                    <div>Gig Economy<span>B2C</span></div>
                                </div>


                                <div class="header-line h-bg-navy-blue">
                                    <div>Digital Courseware<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-violet">
                                    <div>Learning Analytics<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-blue">
                                    <div>Online Program Management<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-green">
                                    <div>Teacher Sourcing Platforms<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-yellow">
                                    <div>Peer to Peer Learning<span>P2P</span></div>
                                </div>
                                <div class="header-line h-bg-orange">
                                    <div>Skills Marketplaces<span>B2C</span></div>
                                </div>
                                <div class="header-line h-bg-red">
                                    <div>Credentialling<span>B2B</span></div>
                                </div>
                                <div class="header-line h-bg-red-deep">
                                    <div>Skills Verification<span>B2C</span></div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Crowdsourced<span class="text-success"> human intuition </span> turbocharged with <span class="text-success">machine intelligence</span></h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>


        <div class="col-md-4 ">
            <img src="images/landing/education.png" style="width: 100%;">
        </div>
        <div class="col-md-4">
            <div>
                <h4><a href="">Game Changer</a></h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
            <div>
                <br>
                <h4><a href="">Traction</a></h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4><a href="">Maturity</a></h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
            <div>
                <br>
                <h4><a href="">Intensity</a></h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
        </div>


    </div>
</section>

<section id="features2" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>36<span class="text-success"> Clusters </span>at a glance in Landscape 1.0</h2>
                <p>Lorem Ipsum available, but the majority have suffered alteration euismod. </p>
                <h2>&nbsp;</h2>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="cluster in cluster_companies" class="col-lg-3" style="height: 340px">
                <div class="hpanel stats" ng-class="cluster.color_hex">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>{{cluster.name}}</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-loop fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <span class="font-bold no-margins">
                                Game Changer 
                            </span>
                            <div class="progress m-t-xs full progress-small">
                                <div ng-style="{'width':cluster.game_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{cluster.game_score}}" role="progressbar" class=" progress-bar progress-bar-info">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                            <span class="font-bold no-margins">
                                Traction 
                            </span>
                            <div class="progress m-t-xs full progress-small">
                                <div ng-style="{'width':cluster.traction_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                            <span class="font-bold no-margins">
                                Maturity 
                            </span>
                            <div class="progress m-t-xs full progress-small">
                                <div ng-style="{'width':cluster.maturity_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                            <span class="font-bold no-margins">
                                Intensity 
                            </span>
                            <div class="progress m-t-xs full progress-small">
                                <div ng-style="{'width':cluster.intensity_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-info">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer" style="min-height: 47px">
                        <a ng-repeat="company in cluster.companies" ng-href="{{company.website}}" class="company-icon-div" style="display: inline-block" target="new_window">
                            <img ng-if="company.twitterhandle != ''" src="https://twitter.com/{{company.twitterhandle}}/profile_image?size=mini" alt="NOIMAGE" title="{{company.name + ',  ' + company.website}}" class="company-icon">
                            <img ng-if="company.twitterhandle == ''" src="images/empty.jpg" alt="NOIMAGE" title="{{company.name + ',  ' + company.website}}" class="company-icon">
                        </a>
                        <!--<img ng-repeat="company in cluster.companies" ng-src="{{(comapny.twitterhandle != '') ? ('https://twitter.com/' + company.twitterhandle + '/profile_image?size=mini') : ('images/empty.jpg')}}" alt="NOIMAGE" class="company-icon">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <div ng-repeat="cluster in cluster_countries" class="" style="padding-top: 40px;">
        <div class="container text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">{{cluster.name}}</span></h2>
                <p>
                    {{cluster.description}}
                </p>
                <h3>&nbsp;</h3>
            </div>
        </div>

        <div class="container projects" style="padding-bottom: 50px;">
            <div class="col-lg-3">
                <h4><a href="">Game Changer</a></h4>
                <p>
                    {{cluster.game_summary}}
                </p>

                <h5>Score</h5>
                <div class="progress m-t-xs full progress-small">
                    <div ng-style="{'width': cluster.game_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{cluster.game_score}}" role="progressbar" class=" progress-bar progress-bar-success">
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <h4><a href="">Traction</a></h4>
                <p>
                    {{cluster.traction_description}}
                </p>

                <h5>Score</h5>
                <div class="progress m-t-xs full progress-small">
                    <div ng-style="{'width': cluster.traction_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{cluster.traction_score}}" role="progressbar" class=" progress-bar progress-bar-success">
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <h4><a href="">Maturity</a></h4>
                <p>
                    {{cluster.maturity_description}}
                </p>

                <h5>Score</h5>
                <div class="progress m-t-xs full progress-small">
                    <div ng-style="{'width': cluster.maturity_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{cluster.maturity_score}}" role="progressbar" class=" progress-bar progress-bar-success">
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <h4><a href="">Intensity</a></h4>
                <p>
                    {{cluster.intensity_description}}
                </p>

                <h5>Score</h5>
                <div class="progress m-t-xs full progress-small">
                    <div ng-style="{'width': cluster.intensity_score + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{cluster.intensity_score}}" role="progressbar" class=" progress-bar progress-bar-success">
                    </div>
                </div>
            </div>





        </div>

        <div class="row" style="background-color: #F7F9FA">
            <div class="container" style="padding-top: 50px; padding-bottom: 40px;">
                <div ng-repeat="country in cluster.countries" class="col-lg-3">
                    <div class="hpanel stats" ng-class="cluster.color_hex">
                        <div class="panel-body h-200">
                            <div class="stats-title pull-left">
                                <h4>{{country.name}}</h4>
                            </div>

                            <div class="m-t-xl">
                                <div ng-repeat="company in country.companies" ng-click="goWebsite(company.website)" class="company-icon-div" style="display: inline-block">
                                    <img ng-if="company.twitterhandle != ''" src="https://twitter.com/{{company.twitterhandle}}/profile_image?size=mini" alt="NOIMAGE" title="{{company.name + ',  ' + company.website}}" class="company-icon">
                                    <img ng-if="company.twitterhandle == ''" src="images/empty.jpg" alt="NOIMAGE" title="{{company.name + ',  ' + company.website}}" class="company-icon">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!--<section id="pricing" class="bg-light">
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <div class="hpanel hgreen stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Australia</h4>
                        </div>

                        <div class="m-t-xl">

                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">


                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3">
                <div class="hpanel hgreen stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>UNITED STATES</h4>
                        </div>

                        <div class="m-t-xl">

                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/smart_sparrow/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/udacity/profile_image?size=mini" alt="NOIMAGE" class="company-icon">
                            <img src="https://twitter.com/galvanize/profile_image?size=mini" alt="NOIMAGE" class="company-icon">


                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>

</section>-->
<section id="clients">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2>Backed by <span class="text-success">Navitas Ventures</span> </h2>
                <p>
                    Landscape started in 2016 when Navitas Ventures was mapping new and emerging education startups. Teams from over 30 countries across Navitas started contributing to the landscape and very quickly we needed a better way to build and share the landscape
                    internally and with our partners.
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-6 col-md-offset-3">

                <div class="row">

                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>

                </div>


            </div>

        </div>


    </div>
</section>
<section id="contact" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Contact with us</span> anytime</h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-4 col-md-offset-3">

                <form class="form-horizontal" role="form" method="post" action="#">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your full name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="message" placeholder="Your message here..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Send us a message" class="btn btn-success">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 text-left">
                <address>
                    <strong><span class="navy">Company name, Inc.</span></strong><br/>
                    601 Street name, 123<br/>
                    New York, De 34101<br/>
                    <abbr title="Phone">P:</abbr> (123) 678-8674
                </address>
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
    </div>
</section>
<script src="js/custom/homer.js"></script>
<script type="application/javascript">
    $(document).ready(function() {

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

    });
</script>